/* put your favorite font faces here */
/*
@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    src: url('../fonts/PT_Sans-Web-Italic.ttf');
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/PT_Sans-Web-BoldItalic.ttf');
}

@font-face {
    font-family: "Droid Sans Mono";
    src: url('../fonts/DroidSansMono.ttf');
}
*/